@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #2563eb;
  --secondary-color: #3b82f6;
  --dark-gray: #6b7280;
  --white: #f7fbfb;
  --dark-blue: #1e3a8a;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0px;
  background-color: var(--white);
  position: relative;
}

.container {
  width: 40%;
  margin: auto;
  margin-top: 3.5rem;
}

h1,
p {
  text-align: center;
}

h1 {
  color: #154fca;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-top: 4rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.6rem;
  margin-top: 0.4rem;
  font-family: "DM Sans", sans-serif;
}

button {
  margin-top: 0rem;
  padding: 0.6rem 1.5rem;
  background-color: #3e7bff;
  color: white;
  border: none;
  border-radius: 0.3rem;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}

button:hover {
  background-color: #468cfd;
}

#output {
  background-color: white;
  color: #2f2f2f;
  padding: 0rem 1.5rem;
  margin: auto;
  margin-top: 4rem;
  width: 58%;
  min-height: 190px;
  text-align: center;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #6797ff;
}

.footer {
  margin-top: 150px;
  text-align: center;
}

.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.8rem;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer a {
  color: dodgerblue;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    width: 50%;
    margin-top: 4rem;
  }
  .form {
    width: 90%;
  }
  #output {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .form {
    width: 90%;
    margin-top: 4rem;
  }
  input {
    min-width: 300px;
  }
  #output {
    width: 80%;
    text-align: center;
    line-height: 1.5rem;
    padding: 0rem 1.5rem;
  }
  button {
    margin-top: 0rem;
  }
  .footer {
    margin-top: 120px;
  }
}
